<html>
    <head>
        <title>Справка</title>
    </head>
    <body>
        ну, он проходит тест...<br>по адресу /get_classifier_result/&ltversion&gt<br>читает из полученного запроса json-контент<br>В случае, если version==1, то возвращается json с версией и полем predict из входящего jsonа {"version":1, "predict": &ltpredict_value&gt}<br>В случае, если version==0, то возвращается json с версией и полем old_predict из входящего jsonа {"version":0, "predict": &ltold_predict_value&gt}
    </body>
</html>
